body {
  // background-color: rgba(0, 0, 0, 0.803);
  background-color: black;
  height: 100vh;
}
h1 {
  color: white;
}
h2 {
  color: white;
  margin-top: 20px;
  text-align: center;
}
h4 {
  text-align: center;
}
.containerAdmin {
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 550px;
    height: auto;
    background-color: black;
    color: white;
    padding-top: 20px;

    .imgAdmin {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto;
    }
    .navBar {
      color: white;
      text-align: center;
      margin-top: 100px;
    }
  }
  .imgBackground {
    width: 100%;
    margin: auto;
    // border: 2px solid green;
    .background-image {
      background-image: url("../assets/images/fondEcranAdmin.jpg");
      background-size: cover;
      width: 100%;
      height: 100vh;
      opacity: 0.7;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.containerGames {
  background-color: rgb(0, 0, 0);
  width: 1500px;
  height: auto;
  margin: auto;

  .mb-4 {
    border: none;

    .card-body {
      background-color: black;

      .titleCard {
        color: white;
        text-align: center;
        margin-bottom: 20px;
      }
      .imgCard {
        background-color: black;
      }
    }
  }
}
.containerAddGame {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 100vh;
  margin: auto;
}
.containerEditGame {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 100vh;
  margin: auto;
}
/***************  BUTTON */
.buttonLink {
  text-decoration: none;
  border: none;

  .buttonRound {
    // font-size: 24px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: black;
    text-decoration: none;
    color: transparent;
    border: none;

    span {
      font-weight: 900;
      color: white;
      font-size: 30px;
    }
  }
}
.barAdmin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: auto;
  .containerBarAdmin {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgAdmin {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto;
      margin: auto 50px;
    }
  }
}
.buttonDelete {
  color: red;
  background-color: transparent;
  font-size: 20px;
  border: none;
  width: 100%;
  margin: auto;
}
.buttonEdit {
  color: green;
  border: none;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  margin: auto;
}
.containerReleaseDates {
  width: 1500px;
  height: 100vh;
  margin: auto;
  background-color: black;
  .formReleaseDate {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .mb-4 {
      background-color: black;

      .titleCard {
        color: white;
        text-align: center;
      }
    }
  }
}
.containerAddReleaseDate {
  width: 1000px;
  height: 100vh;
  margin: auto;
  background-color: black;
}
.containerEditReleaseDate {
  width: 1000px;
  height: 100vh;
  margin: auto;
  background-color: black;
}

/*************  PAGE LOGIN  ***********************************/

.containerLogin {
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: url(../assets/images/download1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;

  .imgLogin {
    display: flex;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .formLogin {
    min-width: 20%;
    display: flex;
    flex-wrap: wrap;

    .titleLogin {
      color: white;
      text-align: center;
      margin-bottom: 50px;
      font-size: 25px;
    }
    .labelLogin {
      color: white;
    }
    .createAccountLogin {
      color: white;
      text-decoration: none;

      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/****************  REGISTER  ********************************/

.containerRegister {
  width: 100%;
  margin: auto;
  // background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  background-image: url(../assets/images/download1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;

  .imgRegister {
    display: flex;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .formRegister {
    min-width: 20%;
    display: flex;
    flex-wrap: wrap;

    .titleRegister {
      color: white;
      text-align: center;
      margin-bottom: 50px;
      font-size: 25px;
    }
    .labelRegister {
      color: white;
    }
  }
}

/************  PAGE HOME ********************/
.background {
  width: 100%;
  height: auto;
  background-image: url(../assets/images/download.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  .containerHome {
    max-width: 1500px;
    min-height: 100vh;
    margin: auto;
    // background-color: #1f1f1f;
    background-image: url(../assets/images/download1.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h1 {
      text-align: center;
      margin: 40px 0;
    }
    .games {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .cardHome {
        background-color: transparent;
        border: none;

        margin: 10px;
        max-width: 300px;

        .titleCard {
          text-align: center;
          color: white;
          margin: 20px 0;
          text-decoration: none;
        }

        .imgHome {
          // max-width: 40%;
          // height: auto;
          margin: auto;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
/*******  NavBar  */
.imgHeader {
  img {
    width: 100%;
    margin-bottom: 150px;
  }
}
.bg.body.tertiary {
  color: black;
}
/*********  PAGE DETAILS *********************/
.backgroundDetails {
  width: 100%;
  background-image: url(../assets/images/download.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  .containerDetails {
    max-width: 1500px;
    height: auto;
    background-image: url(../assets/images/download1.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin: 0;
    padding: 0;

    .imgHeader {
      max-width: 100%;
      height: auto;
    }
    .details {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .titleCard {
        color: white;
        font-size: 25px;
        margin-bottom: 30px;
      }
      .imgDetails {
        max-width: 100%;
        margin: 20px auto;
      }
      p {
        color: white;
        font-size: 18px;
      }
    }
  }
}
/****************  FOOTER  *************************************/

.footer {
  width: 100%; /* Utilisation de la largeur totale */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerCopyright {
  color: white;
  width: 90%; /* Utilisation de 90% de la largeur totale */
  margin: auto; /* Centre le contenu horizontalement */
  text-align: center;
}
